<group id="{{ groupId }}" translate="label" type="text" sortOrder="{{ sortOrder }}" showInDefault="1" showInWebsite="1" showInStore="1">
    <label>{{ label }}</label>
    {{> fieldsContent }}
</group>